/* MENU */

nav{
    position: absolute;
    top: 70px; left: 0; bottom: 0;
    width: 240px;
    background: #22313F;
}

#menu_filtre{
    margin: 200px 0;
    text-align: center;
}

.filtre{
    margin: 20px 0;
}