body{ padding-top: 50px; }

/** CONTENT **/

.content-sign-up{
    margin-top: 200px;
    text-align: center;
}

.content-profil{
    margin-top: 50px;
}

.content-info-profil{
    text-align: center;
    margin-bottom: 50px;
}

.media{
    border: 1px solid #eeeeee;
    padding: 10px;
}

.notif-action{
    float: right;
}

.btn-center{
    margin-top: 50px;
}

/** TITLE **/

.sign-up-title{
    text-align: center;
    margin-bottom: 25px;
}

/** IMG **/

img-rounded{
    height: 180px;
    width: 180px;
}

